*.pyc
*~
.DS_Store

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/

# ignore settings files:
isf/settings/development.py
isf/settings/server.py
!isf/settings/__init__.py

# ignore static files (for now):
isf/static/
isf/static/uploads

# ignore uploaded files
isf/media/uploads

# ignore cache files
tmp
isf/tmp/

data.json